/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

body
{
    display: grid;
padding-top:20%;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #252839;    
}

h2.deco{
    position: relative;
    font-size: 50px;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}

h2.deco::before{
    content: attr(data-text);
    position: absolute;
    top: 50;
    left: 50;
    width: 0;
    height: 100%;
    color: #c7fe01;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #fe0901;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }

    70%,90%
    {
        width: 100%;
    }
}